body{
    font-family: Ubuntu;
}
.img{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.header{
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.wrapper{
    width: 1366px;
    height: 58px;
    margin:  0 auto; 
    display: flex;  
    justify-content: space-between;
}
.logo{
    margin: 0;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    padding: 18px 79px;
}
.logo:hover{
    color: #01813F;
}
.nav{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}
.menu_first{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}
.menu_second{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 18px 79px 18px 27px;
    margin: 0;
}
.menu_second::before{
    content: "";
    background-color:  rgba(255, 255, 255, 0.90);
    width: 1px;
    height: 19px;
    opacity: 0.5;
    margin-right: 27px;
}
.menu_icon{
    list-style-type: none;
}
.menu_item_icon:active{
    color: #01813F;
}
.menu_item{
    list-style-type: none;
}
.menu_item_list{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.list-1:hover{
    color: #01813F;
}
.list-2:hover {
    color: #01813F;
}
.wrapper-second{
    margin: 0 auto;
    width: 444px;
    height: 584px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin-top: 54px;
    margin-bottom: 72px;
}
.figure{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position:absolute ;
   top: 145px;
}
.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 60px 15px 60px;
    list-style-type: none;
    margin: 0;
}
.login_item_list1{
    text-decoration: none;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
}
.login_item_list2{
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}
.login_item_list2:hover{
    color: #01813F;
    text-decoration-line: underline;
}
.btn-first{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: #305DB8;
    color: #FFF;
    font-size: 16px;
    border-radius: 3%;
    border: none;
    padding: 0;
}

.btn-first:hover{
    background-color:  #022263;
}
.line-second{
  padding: 10px 13px 12px 11px;
}
span{
    padding: 12px 22px 17px 18px;
}
.fecebook::before{
    content: "";
    opacity: 0.1;
    background: #0A162F;
    width: 1px;
    height: 28px;
    display: inline-block;   
    position: relative;
    right: 18px;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 0;
}
.btn-second{
    background-color: #DF4A32;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 3%;
    border: none;
}
.btn-second:hover{
    background-color:#AB1F09 ; 
}
.line-third{
    padding: 5px 7px 4px 12px;
}
.google{
    padding: 12px 27px 17px 30px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.google::before{
    content: "";
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #2B0D09;
    position: relative;
    right: 30px;
    display: inline-block;
}
.text{
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 34px;
}
.text::before{
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    display: inline-block;
}
.text::after {
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    display: inline-block;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
input{
    width: 324px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}
input:active{
    border: 1px solid #F2F2F2;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
.checkbox{
    width: 14px;
    height: 13.5px;
    stroke-width: 2px;
    background-color:  #3CB878;
}
.label-checkbox{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    padding-left: 60px;
    padding-top: 12px;
}
.terms{
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
}
.form-content{
    padding-left: 20px; 
}
.placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
}
.placeholder:active{
    color: #434343;
}
.checkbox-text{
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
   }
.create-btn{
    color: #FFF;
    border-radius: 4px;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.80);
}
.create-btn:active{
    background-color: #01813F;
}